body {
    background: white;
    color: #565656;
    font-family: "jaf-facitweb";
}

a {
    color: #000;
}

p {
    line-height: 24px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jaf-facitweb";
}

header {
    margin: 48px 0;
    text-align: center;
}

header h1 {
    font-weight: 500;
    font-family: "jaf-facitweb";
    font-size: 14px;
    text-transform: uppercase;
}

header .contact {
    font-size: 12px;
}

header .contact a {
    border-bottom: solid 1px #ddd;
    text-decoration: none;
}

header .contact a:hover {
    border-color: #000;
}

h1 a {
    text-decoration: none;
}

article {
    font-family: "kepler-std";
}

article p {
    text-indent: 24px;
}

article li {
    margin: 8px 0;
}

pre, code {
    color: #000;
    font-family: "inconsolata";
    font-size: 14px;
    line-height: 22px;
}

.container {
    margin: 0 auto;
    width: 600px;
}

.highlight {
    background: transparent;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
}

#home h2 {
    font-size: 16px;
}

#home ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#home li {
    margin: 12px 0;
}

#home a {
    font-size: 16px;
}

#home span {
    color: #aaa;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    width: 100px;
}

p.meta {
    color: #999;
    font-size: 12px;
    margin: 0;
}

summary {
    font-weight: 100;
    margin: 48px 0;
}

footer {
    font-size: 12px;
    margin: 48px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
}