body {
    background: white;
    color: #565656;
    font-family: "jaf-facitweb";
}

a {
    color: #000;
}

p {
    line-height: 24px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jaf-facitweb";
}

header {
    margin: 48px 0;
    text-align: center;
}

header .icon-home, footer .icon-home {
    font-size: 16px;
}

header h1 {
    font-weight: 500;
    font-family: "jaf-facitweb";
    font-size: 14px;
    text-transform: uppercase;
}

header .contact {
    font-size: 11px;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header a, footer a {
    color: #555;
}

h1 a {
    text-decoration: none;
}

article {
    font-family: "kepler-std";
}

article p {
    font-size: 17px;
    text-indent: 32px;
}

article li {
    margin: 8px 0;
}

pre, code {
    font-family: "Fira Mono", "inconsolata", "Menlo";
}

article pre, article code {
    color: #111;
    font-size: 14px;
    line-height: 22px;
}

.container {
    margin: 0 auto;
    width: 600px;
}

.highlight {
    background: transparent;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
}

code.blip {
    color: #ddd;
    display: block;
    text-align: center;
}

summary {
    font-weight: 100;
    margin: 48px 0;
}

footer {
    font-size: 12px;
    margin: 48px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#home h2 {
    font-size: 16px;
}

#home ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#home li {
    margin: 24px 0;
}

#home a {
    font-size: 16px;
}

#home span {
    color: #aaa;
    display: block;
    font-size: 12px;
    line-height: 16px;
}

p.meta {
    color: #999;
    font-size: 12px;
    margin: 0;
}

#comments {
    margin: 64px 0;
}

#comments h4 {
    margin: 24px 0;
}