body {
    background: white;
    color: #565656;
    font-family: "jaf-facitweb";
}

a {
    color: #000;
}

p {
    line-height: 24px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jaf-facitweb";
}

header {
    margin: 48px 0;
    text-align: center;
}

header .icon-home, footer .icon-home {
    font-size: 16px;
}

header h1 {
    font-weight: 500;
    font-family: "jaf-facitweb";
    font-size: 14px;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header a, footer a {
    color: #555;
}

h1 a {
    text-decoration: none;
}

article {
    font-family: "kepler-std";
}

article h3 {
    font-weight: 900;
    margin-top: 48px;
}

article p {
    font-size: 17px;
    text-indent: 24px;
}

article p:first-of-type {
    margin-top: 48px;
}

article li {
    margin: 8px 0;
}

article li p:first-of-type {
    margin-top: 8px;
    text-indent: 0;
}

#social {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#social li {
    display: inline-block;
    height: 20px;
    width: 100px;
}

#social iframe {
    height: 20px !important;
    overflow: hidden;
}

#social li.tw {
    width: 100px;
}

pre, code {
    font-family: "Fira Mono", "inconsolata", "Menlo";
}

article pre, article code {
    color: #111;
    font-size: 14px;
    line-height: 22px;
}

.container {
    transition: width 150s;
    -webkit-transition: width 150s;

    margin: 0 auto;
    max-width: 600px;
}

@media (max-width: 480px) {
    .container {
        padding: 0 5%;
    }
}

.highlight {
    background: transparent;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin: 1em 0 2em 0;
    overflow-x: scroll;
    max-width: 600px;
}

@media (max-width: 600px) {
    .highlight {
        overflow-x: scroll;
    }
}

code.blip {
    color: #ddd;
    display: block;
    text-align: center;
}

/* hack to remove text-indent */
p code.blip {
    margin-left: -32px;
}

article summary {
    font-family: "jaf-facitweb";
    font-weight: 100;
    margin: 48px 0;
}

footer {
    font-size: 14px;
    margin: 48px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer li {
    display: inline-block;
    font-size: 12px;
    margin: 8px 4px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    font-size: 14px;
}

#home h2 {
    font-size: 16px;
}

#home summary {
    color: #888;
    font-size: 14px;
    margin: 12px 0;
}

#home ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#home li {
    margin: 24px 0 48px;
}

#home a.title {
    display: block;
    margin: 12px 0;
}

#home span {
    color: #aaa;
    display: block;
    font-size: 12px;
    line-height: 16px;
}

p.meta {
    color: #999;
    font-size: 12px;
    margin: 0;
}

#comments {
    margin: 64px 0;
}

#comments h4 {
    margin: 24px 0;
}
